.navbar {
    background-color: #7c7cdc;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
}

.navDiv {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.links {
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 800;
    font-size: 20px;
    font-family: 'Open Sans';
    margin-right: 80px;
}

.icon {
    color: white;
    margin-left: 80px;
}